
body{ 
    background: linear-gradient(to right, wheat);
}
nav{ 
background-color:burlywood;
padding: 2rem;
border-radius: 2rem;  
border-color: saddlebrown;
}
nav ul{ 
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content: space-around;
    font-size: 45px;
}
nav ul li{ 
    display: inline;
}
nav ul li a{ 
    color:saddlebrown ; 
    text-decoration: none;
    padding: 1rem 2rem; 
    display: block;    
}
nav ul li a:hover{ 
    background-color:azure;
    border-radius: 5px;
} 
header{ 
    text-align: center;
    color: black; 
    padding: 15px;
    background-color:cornsilk;
}
main {
    padding: 20px;
    text-align: center;
}
main img {
    width: 300px;
    margin-top: 15px;
    border-radius: 8px;
    background-image: url(landscape1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 4/3;
}  
header p{ 
    font-size: 40px;

}
main p{ 
    font-size: 40px;
}
footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
}
h1{ 
    font-family: 'Press Start 2P';
    text-align: center;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
      background:blanchedalmond;
    border:3px dashed wheat;
    border-radius:20px;
    padding:25px;
}

.image-gallery img {
    width: 60%;
    max-width: none;
    border-radius: 8px;
}
#countdown {
            font-size: 28px;
            font-weight: bold;
}
.wrapper{ 
    background: #f0f0f0; 
    display: flex; 
    flex-wrap: wrap; 
}
.countdown{ 
    background: url(cotco.png) no-repeat center; 
    background-size: cover; 
}
.col{ 
    flex: 1; 
    height: 100vh; 
    position: relative;
}
.time{ 
    color:burlywood;
    text-transform: uppercase; 
    width: 90%; 
    display: flex; 
    justify-content: center;
} 
.middle{ 
    position: absolute; 
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
}
.time span{ 
    padding: 0 14px; 
    font-size: 45px; 
    color: cyan;
}
.time span div{ 
    font-size: 100px; 
    font-weight: bold; 
    color:aqua;
}
